$maroon: #b81e1c;
$gold: #fab303;

@mixin diagonal_lines_pattern($color1, $color2) {
  background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $color1), color-stop(0.25, $color2), color-stop(0.25, $color1), color-stop(0.5, $color1), color-stop(0.5, $color2), color-stop(0.75, $color2), color-stop(0.75, $color1));
  background-image: -webkit-linear-gradient(left bottom, $color2 0%, $color2 25%, $color1 25%, $color1 50%, $color2 50%, $color2 75%, $color1 75%);
  background-image: -moz-linear-gradient(left bottom, $color2 0%, $color2 25%, $color1 25%, $color1 50%, $color2 50%, $color2 75%, $color1 75%);
  background-image: -ms-linear-gradient(left bottom, $color2 0%, $color2 25%, $color1 25%, $color1 50%, $color2 50%, $color2 75%, $color1 75%);
  background-image: -o-linear-gradient(left bottom, $color2 0%, $color2 25%, $color1 25%, $color1 50%, $color2 50%, $color2 75%, $color1 75%);
  background-image: linear-gradient(left bottom, $color2 0%, $color2 25%, $color1 25%, $color1 50%, $color2 50%, $color2 75%, $color1 75%);
  background-size: 50px 50px;
  width:100%;
  height:100%;
}